Source: ajur-media-maker
Section: unknown
Priority: optional
Maintainer: Karel Wintersky <wombat@fontanka.ru>
Uploaders: Karel Wintersky <wombat@fontanka.ru>
Build-Depends: debhelper (>= 10)
Standards-Version: 3.9.8

Package: ajur-media-maker
Architecture: all
Depends: nano, ffmpeg, sqlite3, nginx-full, mysql-server | default-mysql-server, php-common, php-cli, php-curl, php-fpm, php-gd, php-iconv, php-intl, php-json, php-mbstring, php-mysql, php-mysqli, php-pdo, php-intl, php-readline, php-opcache, php-xml, php-zip, php-redis
Description: AJUR Media Maker fallback and bot
